In [11]:
import mysql.connector
import pandas as pd

In [28]:
config = dict(
    user = "analitica_adrian", 
    password = "adrian.ferrer1",
    host = "pernexium-db.cfioetbrvik6.us-east-2.rds.amazonaws.com",
    database = "crm_pernexium"
)

In [29]:
# Initialize connection to None
connection = None

try:
    # Establish the connection
    connection = mysql.connector.connect(**config)

    if connection.is_connected():
        print("Connected to MySQL database")

        # Create a cursor object
        cursor = connection.cursor()

        # Execute a query
        cursor.execute("SELECT * FROM credits LIMIT 1")

        # Fetch the result
        record = cursor.fetchone()
        print("You're connected to database: ", record)

except mysql.connector.Error as err:
    print(f"Error: {err}")

finally:
    if connection is not None and connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Connected to MySQL database
You're connected to database:  ('278643451327', '6431978', 'Producto_Prestamo_digital', None, None, None, None, None, Decimal('20510.45'), None, None, None, None, 1, Decimal('0.04'), datetime.datetime(2024, 6, 3, 18, 31, 11), None)
MySQL connection is closed

In [30]:
# Initialize connection to None
connection = None

try:
    # Establish the connection
    connection = mysql.connector.connect(**config)

    if connection.is_connected():
        print("Connected to MySQL database")

        query = "SELECT * FROM credits"

        # Fetch data using pandas
        df = pd.read_sql(query, connection)

        # Close the connection
        connection.close()

        # Display the DataFrame
        print(df.head())

except mysql.connector.Error as err:
    print(f"Error: {err}")

finally:
    if connection is not None and connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Connected to MySQL database

C:\Users\aafo_\AppData\Local\Temp\ipykernel_2884\4124741980.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

      credit_id client_id                    product past_due_start  \
0  278643451327   6431978  Producto_Prestamo_digital           None
1  136640238983   8626420  Producto_Prestamo_digital           None
2  079005238085   3146401  Producto_Prestamo_digital           None
3  094556272206    528941  Producto_Prestamo_digital           None
4  199452280162   9004871  Producto_Prestamo_digital           None

  current_past_due late_interest opening_date_us last_payment_date_us  \
0             None          None            None                 None
1             None          None            None                 None
2             None          None            None                 None
3             None          None            None                 None
4             None          None            None                 None

   total_past_due_balance current_balance balance_to_settle interest_balance  \
0                20510.45            None              None             None
1               117237.44            None              None             None
2                72351.75            None              None             None
3               136040.58            None              None             None
4                87399.51            None              None             None

  iva_balance  status  payment_probability          created_at origin_type
0        None       1                 0.04 2024-06-03 18:31:11        None
1        None       1                 0.00 2024-06-03 18:31:11        None
2        None       1                 0.01 2024-06-03 18:31:11        None
3        None       1                 0.00 2024-06-03 18:31:11        None
4        None       1                 0.00 2024-06-03 18:31:11        None

In [16]:
from sqlalchemy import create_engine

In [49]:
def get_db_engine():
    user = "analitica_adrian"
    password = "adrian.ferrer1"
    host = "pernexium-db.cfioetbrvik6.us-east-2.rds.amazonaws.com"
    database = "crm_pernexium"
    port = 3306
    
    return create_engine(f'mysql+pymysql://{user}:{password}@{host}:{port}/{database}')

In [50]:
get_db_engine()

Engine(mysql+pymysql://analitica_adrian:***@pernexium-db.cfioetbrvik6.us-east-2.rds.amazonaws.com:3306/crm_pernexium)

In [51]:
def read_table():
    query = "SELECT * FROM credits"
    engine = get_db_engine()

    with engine.connect() as connection:
        return pd.read_sql(query, connection)
read_table()

,credit_id,client_id,product,past_due_start,current_past_due,late_interest,opening_date_us,last_payment_date_us,total_past_due_balance,current_balance,balance_to_settle,interest_balance,iva_balance,status,payment_probability,created_at,origin_type
0,278643451327,6431978,Producto_Prestamo_digital,None,None,None,None,None,20510.45,None,None,None,None,1,0.04,2024-06-03 18:31:11,None
1,136640238983,8626420,Producto_Prestamo_digital,None,None,None,None,None,117237.44,None,None,None,None,1,0.00,2024-06-03 18:31:11,None
2,079005238085,3146401,Producto_Prestamo_digital,None,None,None,None,None,72351.75,None,None,None,None,1,0.01,2024-06-03 18:31:11,None
3,094556272206,528941,Producto_Prestamo_digital,None,None,None,None,None,136040.58,None,None,None,None,1,0.00,2024-06-03 18:31:11,None
4,199452280162,9004871,Producto_Prestamo_digital,None,None,None,None,None,87399.51,None,None,None,None,1,0.00,2024-06-03 18:31:11,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,558471394497,7096935,Producto_Prestamo_digital,None,None,None,None,None,5976.12,None,None,None,None,1,0.09,2024-06-03 18:31:11,None
9996,993160877216,4798701,Producto_Prestamo_digital,None,None,None,None,None,136287.15,None,None,None,None,1,0.00,2024-06-03 18:31:11,None
9997,021105535807,5843605,Producto_Prestamo_digital,None,None,None,None,None,100243.38,None,None,None,None,1,0.01,2024-06-03 18:31:11,None
9998,131165136564,1356216,Producto_Prestamo_digital,None,None,None,None,None,50791.11,None,None,None,None,1,0.08,2024-06-03 18:31:11,None
9999,918353033269,4185264,Producto_Prestamo_digital,None,None,None,None,None,84447.42,None,None,None,None,1,0.01,2024-06-03 18:31:11,None

In [1]:
import hashlib

# Define the string to hash
string_to_hash = "Hello, World!"

# Create a SHA256 hash object
sha256_hash = hashlib.sha256()

# Update the hash object with the string
sha256_hash.update(string_to_hash.encode())

# Get the hexadecimal representation of the hash
hashed_string = sha256_hash.hexdigest()

# Print the hashed string
print(hashed_string)

dffd6021bb2bd5b0af676290809ec3a53191dd81c7f70a4b28688a362182986f

In [48]:
def get_engine():
    host = st.secrets["db_credentials"]["host"]
    database = st.secrets["db_credentials"]["database"]
    user = st.secrets["db_credentials"]["user"]
    password = st.secrets["db_credentials"]["password"]

    # Crear la URL de la base de datos
    DATABASE_URL = f"mysql+mysqlconnector://{user}:{password}@{host}/{database}"

    # Crear el motor de SQLAlchemy
    return create_engine(DATABASE_URL)

In [2]:
len(hashed_string)

64

In [3]:
bool(dict( a= 1))

True

In [49]:
import streamlit as st
from sqlalchemy import create_engine
import pandas as pd

def get_campaings_name():
    # Crear el motor de SQLAlchemy
    engine = get_engine()

    # Escribir una consulta SQL
    query = "SELECT campaign_id, name FROM campaigns"
    dict_names = {}
    with engine.connect() as connection:
        result = connection.execute(query)
        for row in result:
            dict_names[row['name']] = row['campaign_id']

    return dict_names

In [50]:
get_campaings_name()

{'BanCoppel': '1'}

In [45]:
nombre = "Enrique"
correo = "e@.com"
password = "1233"
campaign_id = "1"

In [53]:
from sqlalchemy import create_engine, text

def insert_user(nombre, correo, password, campaign_id):
    engine = get_engine()
    insert_query = text("INSERT INTO users (campaign_id, name, email, pass) VALUES (:campaign_id, :nombre, :correo, :password)")
    #INSERT INTO `crm_pernexium`.`users` (`campaign_id`, `name`, `email`, `pass`) VALUES ('1', 'enrique', 'ldskjfsl', 'iuygtfvbnjkmnbs');
    
    try:
        with engine.connect() as connection:
            connection.execute(insert_query, {"campaign_id": campaign_id, "nombre": nombre, "correo": correo, "password": password})
            st.success("Usuario insertado con éxito.")
    except SQLAlchemyError as e:
        st.error(f"Error al insertar el usuario: {e}")

In [54]:
insert_user(nombre, correo, password, campaign_id)

In [60]:
import hashlib

def hash_password(password):
    # Convertir la contraseña en bytes
    password_bytes = password.encode('utf-8')
    # Crear un objeto hash SHA-256
    sha256 = hashlib.sha256()
    # Actualizar el objeto hash con la contraseña
    sha256.update(password_bytes)
    # Obtener el hash en formato hexadecimal
    password_hash = sha256.hexdigest()
    return password_hash

In [65]:
hash_password("1")

'6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d49c01e52ddb7875b4b'

In [57]:
!pip install hashlib

ERROR: Could not find a version that satisfies the requirement hashlib (from versions: 20081119)
ERROR: No matching distribution found for hashlib